[Unit]
Description=ckpool
After=multi-user.target 

[Service]
Type=forking
User=futurebit
#Start:
#ExecStart=/opt/apolloapi/backend/ckpool/ckpool_start.sh
ExecStart=/opt/apolloapi/backend/ckpool/ckpool -B -c /opt/apolloapi/backend/ckpool/ckpool.conf -D
#Stop:
TimeoutStopSec=300
#ExecStop=/opt/apolloapi/backend/ckpool/ckpool_stop.sh
ExecStop= /bin/kill -2 $MAINPID 

[Install]
WantedBy=multi-user.target