[Unit]
Description=/etc/rc.local compatibility
ConditionPathExists=/etc/rc.local
After=systemd-udev-settle.service
Before=apollo-bootstrap.service node.service

[Service]
Type=oneshot
ExecStartPre=/usr/bin/udevadm settle --timeout=30
ExecStart=/etc/rc.local
TimeoutStartSec=15min
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target