[Unit]
Description=Apollo NVMe swap
Requires=rc-local.service
After=rc-local.service

[Service]
Type=oneshot
User=root
ExecCondition=/opt/apolloapi/backend/node/node_storage_ready.sh
ExecStart=/opt/apolloapi/backend/start_swap.sh
ExecStop=/sbin/swapoff /media/nvme/swapfile
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
