[Unit]
Description=Apollo API & UI app
After=network.target
After=rc-local.service

[Service]
Environment=NODE_ENV=production
Type=simple
User=futurebit
ExecStart=/home/futurebit/.nvm/versions/node/v9.8.0/bin/node /opt/apolloapi/src/init.js
WorkingDirectory=/opt/apolloapi
Restart=on-failure

[Install]
WantedBy=multi-user.target