[Unit]
Description=bgfminer
After=network.target

[Service]
Type=forking
User=root
#Start:
ExecStart=/etc/miner_start.sh
WorkingDirectory=/opt/bfgminer
#Stop:
ExecStop=/etc/miner_stop.sh

[Install]
WantedBy=multi-user.target